
.root{
    @apply z-10 mb-12 mx-auto flex-grow flex items-center justify-between px-8 sm:px-6;
    border-bottom: 1px solid;
    border-color: var(--accent-2); 
    position: sticky;
    top: 0%;
    background: var(--primary);
}

.nav{
    @apply flex items-center justify-between flex-wrap space-x-4;
}