.root{
    @apply appearance-none min-w-0 w-full border py-2 px-4 text-base rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:placeholder-gray-400;
    background-color: var(--accent-1);
    border-color: var(--accent-2);
    

}
.root::placeholder {
    color: var(--accent-5);
  }